@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&family=Montserrat:wght@100;200;300;400;500;600&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  margin: 0; padding: 0;
  outline: 0; border: none;
  text-decoration: none !important;
  transition: all .2s linear;
  box-sizing: border-box;
}
body{
  overflow: hidden !important;
}
$blue: #2163ff;
$white: #fff;
$black: #334;
$light-color: #777;
$light-bg: #f5f5f5;
$border: .2rem solid $black;
$box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

::selection{
  background-color: $blue;
  color: $white;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  
  &::-webkit-scrollbar{
      width: 1rem;
  }
  &::-webkit-scrollbar-track{
      background: $white;
  }

  &::-webkit-scrollbar-thumb{
      background-color: $blue;
  }
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

@mixin title-text($titleSize) {
    font-size: $titleSize;
    text-transform: capitalize;
    color: $black;
}

@mixin graph-text($graphSize) {
    font-size: $graphSize;
    line-height: 2;
    color: $light-color;
}
.link-btn{
    margin-top: 1rem;
    padding: 1rem 3rem;
    display: inline-block;
    border: $border;
    color: $black;
    background: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.7rem;
    @include title-text(1.7rem);

    &:hover{
        background: $blue;
        color: #fff;
        border-color: $blue;
    }
}
.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: #222;
}
section{
    padding: 3rem 1rem;
}


//------------------------------------------------------ Start of navbar-------------------------------------//
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: $white !important;
    height: 80px;
    .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70px;
      height: 70px;
      object-fit: cover;
      img{
        width: 100%;
      }
    }
}


.navbar-collapse{
    flex-grow: 0;
    letter-spacing: 0.0625em;
}
.navbar li a{
    color: $black !important;
    transition: .5s all ease-in-out;
}

.navbar li a::after{
    content: '';
    position: relative;
    width: 0px;
    height: 2px;
    background-color: $blue;
    display: block;
    left: 0px;
    bottom: -6px;
    transition: 0.5s all;
}
.navbar li a:hover::after{
    width: 50%;
}

.navbar-light .navbar-nav .nav-link{
    padding-right: 15px;
    font-size: 17px;
    font-weight: 400;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: $blue !important;
}
.navbar-light .navbar-toggler{
    background-color: $white;
    font-size: 15px;
}
.navbar-toggler:focus{
    box-shadow: none;
}

@media (max-width:767px) {
  .navbar{
    .container{
      background-color: $white;
    }
  }
}
@media (max-width:991px) {
  .navbar{
    .container{
      background-color: $white;
    }
  }
}
//------------------------------------------------------ end of navbar-------------------------------------//
//------------------------------------------------------ Start of home-------------------------------------//
.Home{
  margin-top: 70px;
  .content{
    flex-wrap: wrap;
    .image{
      flex: 0 0 45%;
      width: 500px;
      height: 500px;
      object-fit: cover;
      border-radius: 15px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .text{
      flex: 0 0 45%;
      h3{
        @include title-text(4.5rem);
        font-weight: 600;
      }
      p{
        @include graph-text(1.5rem);
        padding: 1rem 0;
      }
    }
  }
}

@media (max-width:767px) {
  .Home{
    .content{
      .image , .text{
        flex: 0 0 100%;
      }
      .image{
        margin-bottom: 10px;
        height: auto;
      }
      .text{
        h3{
          @include title-text(2.5rem)
        }
      }
    }
  }
}
@media (max-width:991px) {
  .Home{
    .content{
      .image , .text{
        flex: 0 0 100%;
      }
      .image{
        margin-bottom: 10px;
        height: auto;
      }
      .text{
        h3{
          @include title-text(2.5rem)
        }
      }
    }
  }
}
//------------------------------------------------------ end of home-------------------------------------//
.About{
  margin-top: 50px;
  .content{
    flex-wrap: wrap;
    .image{
      flex: 0 0 45%;
      object-fit: cover;
      border-radius: 15px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .text{
      flex: 0 0 45%;
      h3{
        @include title-text(4.5rem);
        font-weight: 600;
      }
      p{
        @include graph-text(1.5rem);
        padding: 1rem 0;
      }
    }
  }
}

@media (max-width:767px) {
  .About{
    margin-top: 0;
    .content{
      .image , .text{
        flex: 0 0 100%;
      }
      .image{
        margin-bottom: 10px;
      }
      .text{
        h3{
          @include title-text(2rem)
        }
      }
    }
  }
}
@media (max-width:991px) {
  .About{
    margin-top: 0;
    .content{
      .image , .text{
        flex: 0 0 100%;
      }
      .image{
        margin-bottom: 10px;
      }
      .text{
        h3{
          @include title-text(2rem)
        }
      }
    }
  }
}
//------------------------------------------------------ Start of services-------------------------------------//
.offers{
    background-color: $light-bg;
    .heading{
      font-weight: 600;
      span{
          color: $blue;
      }
    }
    .content{
      gap: 15px;
      flex-wrap: wrap;
      .Inf{
        flex: 0 0 32%;
        p{
          @include graph-text(1.5rem)
        }
      }
      .info{
        text-align: center;
        margin-bottom: 4rem;
        border: $border;
        margin-bottom: 10px;
        box-shadow: $box-shadow;
        padding: 0 2rem 2rem;
        border-radius: 10px;
        background-color: $white;
        // &:hover{
        //   background-color: $black;
        //   h3 , p{
        //   color: $white;
        //   }
        // }
        .image{
          width: 200px;
          height: 100px;
          object-fit: cover;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          img{
            width: 100%;
            margin-bottom: 0.5rem;
          }
        }
        .text{
          h3{
            font-size: 1.5rem;
          }
          strong{
            @include title-text(3rem);
            color: $blue;
          }
        }
      }
    }
}

@media (max-width:767px) {
  .offers{
    margin-top: 0;
    .content{
      .Inf{
        flex: 0 0 100% !important;
        .info{
          margin-bottom: 10px;
        }
      }
    }
  }
}
@media (max-width:991px) {
  .offers{
    margin-top: 0;
    .content{
      .Inf{
        flex: 0 0 48%;
        .info{
          margin-bottom: 10px;
        }
        p{
          font-size: 1.25rem;
        }
      }
    }
  }
}
//------------------------------------------------------ end of services-------------------------------------//
//------------------------------------------------------start of Gallery ------------------------------------//
.Gallery{
  margin-bottom: 1rem;
  .heading{
    font-weight: 600;
    span{
      color: $blue;
    }
  }
  .gallery-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    .box{
      overflow: hidden;
      flex:0 0 24%;
      height: 207px;
      object-fit: cover;
      border-radius: 10px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        &:hover{
            transform: scale(1.1,1.1);
        }
      }
    }
  }
}

@media (max-width:767px) {
  .Gallery{
    margin-bottom: 1rem;
    .gallery-container{
      .box{
        flex:0 0 100% !important;
      }
    }
  }
}

@media (max-width:991px) {
  .Gallery{
    margin-bottom: 1rem;
    .gallery-container{
      .box{
        flex:0 0 31%;
      }
    }
  }
}
//------------------------------------------------------end of Gallery ------------------------------------//
//---------------------------------------------------- start of facilities----------------------------------//
// .facilities{
//     background-color: $light-bg;
//     .heading{
//         font-weight: 600;
//         span{
//         color: $blue;
//         }
//     }
//     .info{
//         text-align: center;
//         margin-bottom: 4rem;
//         border: $border;
//         box-shadow: $box-shadow;
//         padding: 3rem;
//         border-radius: 10px;
//         background-color: $white;

//         &:hover{
//             background-color: $black;
//             h3 , p{
//             color: $white;
//             }
//         }
//     img{
//         height: 10rem;
//         margin-bottom: 0.5rem;
//     }
//     h3{
//         @include title-text(2rem);
//         font-weight: 600;
//         padding: 1rem 0;
        
//     }
//     p{
//         @include graph-text(1.4rem);
//     }
//     }
// }
//---------------------------------------------------- end of facilities----------------------------------//
//---------------------------------------------------- start of contact----------------------------------//
.contact{
  .heading{
    font-weight: 600;
    span{
    color: $blue;
    }
  }
  .contact-title{
    color: $blue;
    @include title-text(3rem);
    color: #2597f4;
    font-weight: 400;
  }
  .contact-sub-title{
    color: $black;
    color: #334;
    font-size: 1.8rem;
    margin-top: 16px;
  }
  .boxes{
    gap: 15px;
    margin-top: 60px;
    .box{
      flex: 0 0 24%;
      text-align: center;
      h4{
        font-size: 18px;
        font-weight: 700;
        color: $black;
        margin: 15px 0 5px;
        text-transform: capitalize;
      }
      p{
        line-height: 25px;
        font-size: 16px;
        font-weight: 400;
        color: #222;
      }
      .icon{
        width: 40px;
        height: 40px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
          font-size: 3rem;
          color: $blue;
        }
      }
    }
  }
}
@media (max-width:767px) {
  .contact{
    .heading{
      font-weight: 600;
      span{
      color: $blue;
      }
    }
    .contact-title{
      @include title-text(2rem);
      color: $blue;
    }
    .boxes{
      gap: 15px;
      margin-top: 60px;
      .box{
        flex: 0 0 100% !important;
        text-align: center;
      }
    }
  }
}
@media (max-width:991px) {
  .contact{
    .heading{
      font-weight: 600;
      span{
      color: $blue;
      }
    }
    .contact-title{
      @include title-text(2rem);
      color: $blue;
    }
    .boxes{
      gap: 15px;
      margin-top: 60px;
      .box{
        flex: 0 0 48%;
        text-align: center;
      }
    }
  }
}
//---------------------------------------------------- end of contact----------------------------------//
//---------------------------------------------------- start of footer----------------------------------//
.footer{
    background-color: $light-bg;
    .box{
      display: grid;
      .image{
        width: 150px;
        height: 150px;
        object-fit: cover;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover
        }
      }
      h3{
        @include title-text(2.2rem);
        font-weight: 600;
        margin-bottom: 2rem;
      }
      a{
        margin-bottom: 1rem;
        color: $black;
      i{
        color: $blue;
        position: relative;
        padding-right: 0.5rem;
        top: 1px;
      }
    }
    .link{
      padding: 0rem 0;
      @include graph-text(1.5rem);
      line-height: 1.5;
    }
    p{
      padding: 0rem 0;
      @include graph-text(1.5rem);
      line-height: 1.5;
    }
    span{
      color: $blue;
    }
  }
}

//---------------------------------------------------- end of footer----------------------------------//
.top{
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 0px;
  border: none;
  border-radius: 10px;
  background-color: $blue;
  width: 4rem;
  height: 4rem;
  color: $white;
  display: none;
}
.top i{
  font-size: 2rem;
}

@media (max-width: 767px){
    .navbar li a:hover::after{
        width: 8%;
    }
    .Home .text{
        padding-top: 0;
    h3{
        @include title-text(3.5rem);
        font-weight: 600;
    }
}
    .fun-fact .box{
    padding-bottom: 3rem;
    
}
    .About .text{
        padding-top: 0rem;
    h3{
        @include title-text(2rem);
        font-weight: 600;
        padding-bottom: 0.5rem
    }
    p{
        @include graph-text(1.5rem);
        padding: 1rem 0;
    }
    }
}


@media (min-width: 768px) and (max-width: 1000px){
    .navbar li a:hover::after{
        width: 8%;
    }
    .Home{
        padding-top: 6rem;
    }
    .Home .text{
        padding-top: 5rem;
        font-weight: 600;
    h3{
        @include title-text(3.1rem);
    }
}
    .fun-fact .box{
        padding-bottom: 4rem;
}
    .About .text{
        padding-top: 3rem;
    h3{
        @include title-text(2.2rem);
        font-weight: 600;
        padding-bottom: 0.5rem
    }
    p{
        @include graph-text(1rem);
        padding: 1rem 0;
    }
    }
}